img
	
{

border:none;
	
}

#icon_no_1

{
postition: relative;
}

#header

{
padding: 5px 5px 5px 5px;
height: 61px;font-family: Helvetica, Arial, sans-serif;
border-bottom: 4px dashed #BBB;

}

#login_icon_1 

{
position: absolute;
top: 92px;
left: 41px;
}

#login_icon_2

{
position: absolute;
top: 162px;
left: 41px;
}

#login_icon_3

{
position: absolute;
top: 236px;
left: 41px;
}

#login_icon_4

{
position: absolute;
top: 312px;
left: 41px;
}

#login_icon_5 

{
position: absolute;
top: 387px;
left: 41px;
}

#nav

{
position: relative;
float: right;
}

#what

{
position: relative;
left: -477px;
border-bottom:5px solid #eee;
}

#what:hover

{
position: relative;
left: -477px;
border-bottom:5px solid #8ED17C;
}

#why

{
position: relative;
left: -440px;
border-bottom:5px solid #eee;

}

#why:hover

{
position: relative;
left: -440px;
border-bottom:5px solid #8ED17C;
}

#how

{
position: relative;
left: -360px;
border-bottom:5px solid #eee;
}

#how:hover

{
position: relative;
left: -360px;
border-bottom:5px solid #8ED17C;
}

#pricing

{
position: relative;
left: -400px;
border-bottom:5px solid #eee;
}

#pricing:hover

{
position: relative;
left: -400px;
border-bottom:5px solid #8ED17C;
}

#buzz

{
position: relative;
left: -320px;
border-bottom:5px solid #eee;
}

#buzz:hover

{
position: relative;
left: -320px;
border-bottom:5px solid #8ED17C;

}

#tour

{
position: relative;
left: -280px;
border-bottom:5px solid #eee;
}


#tour:hover

{
position: relative;
left: -280px;
border-bottom:5px solid #8ED17C;
}

#Sign_up_1 

{
position: relative;
left: 420px;
top: -41px;
font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, Arial, sans-serif;
text-decoration: none;
color: #3671A1;
font-size: 20px;
border-bottom: 3px solid #eee;
}

#Sign_up_1:hover

{
border-bottom: 3px solid #6495ED;
}

#real_nav a

{
position:relative;
color: #787878;
float: left;
top:-10px;
right: 404px;
font-size:25px;
font-family: Helvetica, sans-serif;
text-decoration: none;
}

#container

{}

#tagline

{
position: absolute;
color: #8ED17C;
left: 404px;
top: 75px;
font-family: Helvetica, sans-serif;
}

#quick_desc

{
width: 490px;
color: #787;
font-size: 16px;
}

#the_logo

{
position: absolute;
top: 100px;
left:140px;
border-right: 4px dashed #BBB;
border-left: 4px dashed #BBB;
border-bottom: 4px dashed #BBB;
}

#main

{
}

#benefit

{
position:relative;
left: 133px;
top: 400px;
border-top: 4px dashed #BBB;
width: 842px;
color: #ddd;
}

#footer

{
top: 600px;
position: relative;
border-top: 4px dashed #bbb;
}