img
	
{

border:none;
	
}

#icon_no_1

{
postition: relative;
}

#header

{
padding: 5px 5px 5px 5px;
height: 61px;font-family: Helvetica, Arial, sans-serif;
border-bottom: 4px dashed #BBB;

}

#login_icon_1 

{
position: absolute;
top: 92px;
left: 41px;
}

#login_icon_2

{
position: absolute;
top: 162px;
left: 41px;
}

#login_icon_3

{
position: absolute;
top: 236px;
left: 41px;
}

#login_icon_4

{
position: absolute;
top: 312px;
left: 41px;
}

#login_icon_5 

{
position: absolute;
top: 387px;
left: 41px;
}

#nav

{
position: relative;
float: right;
}

#what

{
position: relative;
left: -477px;
border-bottom:5px solid #eee;
}

#what:hover

{
position: relative;
left: -477px;
border-bottom:5px solid #8ED17C;
}

#why

{
position: relative;
left: -440px;
border-bottom:5px solid #eee;

}

#why:hover

{
position: relative;
left: -440px;
border-bottom:5px solid #8ED17C;
}

#how

{
position: relative;
left: -350px;
border-bottom:5px solid #eee;
}

#how:hover

{
position: relative;
left: -350px;
border-bottom:5px solid #8ED17C;
}

#pricing

{
position: relative;
left: -400px;
border-bottom:5px solid #eee;
}

#pricing:hover

{
position: relative;
left: -400px;
border-bottom:5px solid #8ED17C;
}

#buzz

{
position: relative;
left: -320px;
border-bottom:5px solid #eee;
}

#buzz:hover

{
position: relative;
left: -320px;
border-bottom:5px solid #8ED17C;

}

#tour

{
position: relative;
left: -280px;
border-bottom:5px solid #eee;
}


#tour:hover

{
position: relative;
left: -280px;
border-bottom:5px solid #8ED17C;
}

#Sign_up_1 

{
position: relative;
left: 420px;
top: -41px;
font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, Arial, sans-serif;
text-decoration: none;
color: #222;
font-size: 20px;
border-bottom: 3px solid #eee;
}

#Sign_up_1:hover

{
border-bottom: 3px solid #6495ED;
}

#real_nav a

{
position:relative;
color: #787878;
float: left;
top:-10px;
right: 404px;
font-size:25px;
font-family: Helvetica, sans-serif;
text-decoration: none;
}

#container

{}

#customers_text

{
position: relative;
top: 240px;
left: 180px;
background:#8ED17C;
width:104px;
font-size: 10px;
color: #FFF;
font-family: Helvetica, Arial, sans-serif;
}

#customers_image_1

{
position: absolute;
left:180px;
top: 400px;
}

#customers_image_2

{
position: absolute;
left:180px;
top: 400px;
}

#customers_image_3

{
position: absolute;
left:180px;
top: 400px;
}

#customers_image_4

{
position: absolute;
left:180px;
top: 400px;
}

#customers_image_5

{
position: absolute;
left:180px;
top: 400px;
}

#customers_image_6

{
position: absolute;
left:180px;
top: 400px;
}

#customers_image_7

{
position: absolute;
left:180px;
top: 400px;
}

#tagline

{
position: absolute;
color: #8ED17C;
left: 404px;
top: 75px;
font-family: Helvetica, sans-serif;
}

#quick_desc

{
width: 590px;
color: #787;
font-size: 16px;
}

#the_logo

{
position: absolute;
top: 100px;
left:140px;
border-right: 4px dashed #BBB;
border-left: 4px dashed #BBB;
border-bottom: 4px dashed #BBB;
}

#main

{
}

#how_it_works

{
position: relative;
top: 156px;
left: 397px;
background:#8ED17C;
width:128px;
font-size: 10px;
color: #FFF;
font-family: Helvetica, Arial, sans-serif;
}

#works_title_1

{
background:#8ED17C;
width:135px;
font-size: 15px;
color: #FFF;
font-family: Helvetica, Arial, sans-serif;
position: absolute;
top: 333px;
left: 405px;
}

#works

{
position: absolute;
top: 356px;
left: 377px;
}

#works_description

{
position: absolute;
font-family: Helvetica, Arial, sans-serif;
font-size: 10px;
width: 170px;
top: 505px;
left: 400px;
}

#works_title_2

{
background:#8ED17C;
width:80px;
font-size: 15px;
color: #FFF;
font-family: Helvetica, Arial, sans-serif;
position: absolute;
top: 333px;
left: 615px;
}

#works_2

{
position: absolute;
top: 376px;
left: 628px;
}

#works_description_2

{
position: absolute;
font-family: Helvetica, Arial, sans-serif;
font-size: 10px;
width: 170px;
top: 505px;
left: 610px;
}

#works_title_3

{
background:#8ED17C;
width:52px;
font-size: 15px;
color: #FFF;
font-family: Helvetica, Arial, sans-serif;
position: absolute;
top: 333px;
left: 825px;
}

#works_3

{
position: absolute;
top: 356px;
left: 797px;
}

#works_description_3

{
position: absolute;
font-family: Helvetica, Arial, sans-serif;
font-size: 10px;
width: 170px;
top: 505px;
left: 820px;
}

#benefit

{
position:relative;
left: 133px;
top: 410px;
border-top: 4px dashed #BBB;
width: 842px;
color: #ddd;
}

#text_benefits

{
background:#8ED17C;
width:83px;
font-size: 20px;
color: #FFF;
font-family: Helvetica, Arial, sans-serif;
}

#footer

{
top: 600px;
position: relative;
border-top: 4px dashed #bbb;
font-family: Helvetica, Arial, sans-serif;
color: #787878;
font-size: 10px;
text-align: center;
}

#footer_nav a

{
text-decoration:none;
color: #787878;
}

#About

{
background: #8ED17C;
}

#About:hover

{
background: #bbb;
}

#pricing_footer

{
background: #8ED17C;
}

#pricing_footer:hover

{
background: #bbb;
}

#privacy

{
background: #8ED17C;
}

#privacy:hover

{
background: #bbb;
}

#buzz_footer

{
background: #8ED17C;
}

#buzz_footer:hover

{
background: #bbb;
}

#tour_footer

{
background: #8ED17C;
}

#tour_footer:hover

{
background: #bbb;
}

/*Dashboard*/

#company_name

{
font-family: Helvetica, Arial, sans-serif;
color: #787878;
font-size: 25px;
width: 200px;
position: relative;
top: -85px;
left: 520px
}

#start_head

{
font-size:15px;
background: #FFF;
width: 950px;
}

.ui-tabs .ui-tabs-hide {
     display: none;
}

#dashboard_nav

{
position: absolute;
left: 430px;
}

#head_dashboard

{
}

#start_conversation

{
position: relative;
top:60px;
}

#form_start_conversation

{
height: 50px;
width: 970px;
font-size: 40px;
}

#My_Account

{
position: relative;
top: -70px;
left: -105px;
background: #8ED17C;
width: 91px;
}

#start_conversations

{
position: relative;
top: 10px;
background: #8ED17C;
width: 144px;
}

#view_conversation

{
position: relative;
top: -10px;
left: 150px;
background: #8ED17C;
width: 144px;
}

#open_tab

{
position: relative;
top: -30px;
left: 300px;
background: #8ED17C;
width: 77px;
}

#work_room

{
position: relative;
top: -50px;
left: 390px;
background: #8ED17C;
width: 90px;
}

#My_Account:hover

{
position: relative;
top: -70px;
left: -105px;
background: #FF9;
width: 91px;
color: #222;
}

#start_conversations:hover

{
position: relative;
top: 10px;
background: #FF9;
width: 144px;
color: #222;
}

#view_conversation:hover

{
position: relative;
top: -10px;
left: 150px;
background: #FF9;
width: 144px;
color: #222;
}

#open_tab:hover

{
position: relative;
top: -30px;
left: 300px;
background: #FF9;
width: 77px;
color: #222;
}

#work_room:hover

{
position: relative;
top: -50px;
left: 390px;
background: #FF9;
width: 90px;
color: #222;
}

#main_body_dashboard

{
color: #222222;
float: left;
background: #FFFFFF;
-moz-border-radius:7px 7px 7px 7px;
-webkit-border-radius:7px 7px 7px 7px;
box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
left: 6.6%;
height: 600px;
width: 1093px;
position: absolute;
top: 150px;
}

/*start_conversation*/

#start_conversation

{
position: relative;
left: 150px;
}

#start_submit_button

{
height: 50px;
width: 100px;
font-size: 20px;
}

#logout a

{
position: relative;
background: #FF9;
float: right;
font-family: Helvetica, Arial, sans-serif;
color: #787878;
font-size: 17px;
}

#logout a:hover

{
background: #e2f8ef;
}

a {text-decoration:none; color: #FFF; font-family: Helvetica, Arial, sans-serif;}
a:hover{color: #B2DFEE;}